@charset "UTF-8";

/* CSS Document */

/* BASIC RESET */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

body {
  background-color: white;
}

a {
  color: darkred;
}


/* DEFAULT BEHAVIOR */
.hidden {
  /* visibility: hidden; */
  display: none;
}

/* TOGGLED BEHAVIOR */
.active {
  /* visibility: visible; */
  display: block;
}

/* STRUCTURAL CSS */

header, nav, section, footer {
  padding-left: 10px;
}

header h1 {
  color: darkred;
  font-size: 38px;
  text-transform: uppercase;
}

nav {
  margin-bottom: 10px;
}

nav ul li {
  display: inline-block;
}

body > section{
  padding-top: 20px;
  min-height: 500px;
  border: 1px solid #ccc;
}

label {
  display: inline-block;
  width: 300px;
}

label, input {
  margin-bottom: 10px;
}

section.results {
  color: darkred;
  margin: 20px 0;
  line-height: 20px;
}

.results span {
  font-weight: bold;
}

footer {
  margin-top: 10px;
}
