@charset "UTF-8";

/* CSS Document */

/* BASIC RESET */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

/* DEFAULT BEHAVIOR */
.hidden {
  visibility: hidden;
}

/* TOGGLED BEHAVIOR */
.active {
  visibility: visible;
}

body > section{
  min-height: 500px;
  border: 1px solid #ccc;
}



label {
  display: inline-block;
  width: 300px;
}
