@charset "UTF-8";

/* CSS Document */

/* BASIC RESET */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

body {
  background-color: white;
}

a {
  color: darkred;
}


/* DEFAULT BEHAVIOR */
.hidden {
  /* visibility: hidden; */
  display: none;
}

/* TOGGLED BEHAVIOR */
.active {
  /* visibility: visible; */
  display: block;
}

/* BUTTONS */
.btn {
  color: #fff;
  width: 220px;
  height: 60px;
  border-radius: 10px;
  border: transparent;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.power-metal {
  background-color: #ff9800;
}

.death-metal {
  background-color: #b71c1c;
}

.black-metal {
  background-color: #212121;
}

.hardcore {
  background-color: #333;
}

button {
  width: 160px;
  height: 40px;
}

button[type="reset"]{
  width: 60px;
}

/* STRUCTURAL CSS */

header, nav, section, footer {
  padding-left: 10px;
}

header {
  background: #000;
}

header h1 {
  color: darkred;
  display: inline-block;
  font-size: 68px;
  text-transform: uppercase;
}

nav {
  margin: 10px 0;
}

nav ul li {
  display: inline-block;
}

body > section{
  padding-top: 20px;
  min-height: 500px;
  border: 1px solid #ccc;
}

label {
  display: inline-block;
  width: 300px;
}

label, input {
  margin-bottom: 10px;
}

section.results {
  color: darkred;
  margin: 20px 0;
  line-height: 20px;
}

.results span {
  font-weight: bold;
}

footer {
  margin-top: 10px;
}
