/* reset & global stuff */

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6/*, .subhead*/ {
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}


body {
  font-family: 'Roboto', 'Garamond', serif;
  background: url('img/seigaiha.png');
}
canvas {vertical-align: top;}

header {
  margin: 0 auto;
  text-align: center;
  width: 900px;
}

header h1 {
  font-size: 42px;
}

header p {
  font-size: 12px;
}

nav {
  background: #a91e23;
  display: inline;
  width: 280px;
}

footer nav a {
  color: #efefef;
}

#canvas {
  background: url('../../final/img/wood.jpg');
  box-shadow: inset -9px 1px 26px 6px rgba(0,0,0,0.75);
  height: 500px;
  margin: 0 auto;
  width: 790px;
}

#canvas canvas {
  position: relative;
  top: 55px;
  left: 55px;
}

#credits {
  background: #eee;
  border: 4px solid #222;
  display: none;
  padding: 10px;
  position: absolute;
  bottom: 25%;
  left: calc(50% - 204px);
  width: 400px;
  height: 200px;

}

#credits p {
  margin-bottom: 10px;
}

#credits p:last-child {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 300px;
}

#credits p a {
  color: #222;
}

footer {
  background: #efefef;
  margin: 0 auto;
  text-align: center;
  width: 900px;
}

footer a {
  color: #222;
  font-size: 13px;
  padding: 5px;
}

footer a:last-child {
  padding-left: 0;
}
