@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  background: darkgray;
  font-family: Helvetica, sans-serif;
}

main {
  width: 1280px;
  margin: -280px auto 0 auto;
}

main img {
  border: 1px solid #aaa;
  /* filter: blur(3px); */
  z-index: 1;
  border-radius: 4px;
}

/* drone + remote controller image */
main img:nth-of-type(1) {
  position: relative;
  top: 268px;
  left: 112px;
}

/* record image */
main img:nth-of-type(2) {
  position: relative;
  top: 571px;
  left: 122px;
}

/* turntable image */
main img:nth-of-type(3) {
  position: relative;
  top: 551px;
  left: -120px;
}

/* cinema display image */
main img:nth-of-type(4) {
  position: relative;
  top: 487px;
  left: -106px;
}

/* keyboard image */
main img:nth-of-type(5) {
  position: relative;
  top: 509px;
  left: 643px;
}

/* "background" image */
main img:last-of-type {
  border-radius: 0;
  filter: blur(0px);
  z-index: 0;
}

.hover {
  border: 1px solid rgba(255,255,255,0);
}

/* modal window - generic */
.modal {
  background: #666;
  display: none;
  margin: auto;
  position: absolute;
  top: 123px;
  left: 0;
  right: 0;
  width: 1280px;
  height: 800px;
  z-index: 1;
}

/* modal close button */
.close {
  background: #eee;
  border-radius: 4px;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
  top: -10px;
  left: 1174px;
  height: 30px;
  width: 80px;
}

/* modal - drone */
#modal-drone {
  background: url(img/drone-bg.jpg);
}

/* modal - record */
#modal-record {
  background: url(img/record-bg.jpg);
}

/* modal - keyboard */
#modal-keyboard {
  background: url(img/keyboard-bg.jpg);
}
