@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  background: darkgray;
  font-family: Helvetica, sans-serif;
}

header {
  width: 1280px;
  margin: 30px auto 0;
}

main {
  width: 1280px;
  margin: -330px auto 0;
}

main img {
  border: 1px solid #aaa;
  /* filter: blur(3px); */
  z-index: 1;
  border-radius: 4px;
}

/* drone + remote controller image */
main img:nth-of-type(1) {
  position: relative;
  top: 268px;
  left: 112px;
}

/* record image */
main img:nth-of-type(2) {
  position: relative;
  top: 571px;
  left: 122px;
}

/* turntable image */
main img:nth-of-type(3) {
  position: relative;
  top: 551px;
  left: -120px;
}

/* cinema display image */
main img:nth-of-type(4) {
  position: relative;
  top: 487px;
  left: -106px;
}

/* keyboard image */
main img:nth-of-type(5) {
  position: relative;
  top: 509px;
  left: 643px;
}

/* "background" image */
main img:last-of-type {
  border-radius: 0;
  filter: blur(0px);
  z-index: 0;
}

.hover {
  border: 1px solid rgba(255,255,255,0);
}

/* modal window - generic */
.modal {
  background: #666;
  display: none;
  margin: auto;
  position: absolute;
  top: 103px;
  left: 0;
  right: 0;
  width: 1280px;
  height: 800px;
  z-index: 1;
}

.modal section {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 0 0 10px;
  position: relative;
  top: 220px;
  left: 330px;
  height: 400px;
  width: 600px;
}

.modal section h2 {
  margin-bottom: 7px;
}

.modal section p {
  line-height: 22px;
}

/* modal close button */
.close {
  background: #eee;
  position: relative;
  top: 150px;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 10px;
  height: 40px;
  width: 112px;
  left: 235px;
}

/* modal - drone */
#modal-drone {
  background: url(img/drone-bg.jpg);
}

/* modal - record */
#modal-record {
  background: url(img/record-bg.jpg);
}

/* modal - keyboard */
#modal-keyboard {
  background: url(img/keyboard-bg.jpg);
}

/* footer */
footer {
  background: #fff;
  float: right;
  text-align: left;
  width: 280px;
  height: 100px;
  padding: 0 0 0 10px;
  position: absolute;;
  bottom: 0;
  left: 40%; /* it'll do for now... */
}

footer ul {
  list-style: none;
}

footer ul li a {
  color: #fff;
  float: left;
  margin-top: 20px;
}

img[alt="Say Hello!"] {
  margin-right: 10px;
}
