@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

header {
  background: rgba(255,255,255,0);
  position: fixed;
  bottom: 5vh;
  right: 10px;
}

header * {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
}

section {
  display: table;
  height: 95vh;
  width: 100%;
}

section div {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 30px;
}

section h1 {
  text-transform: uppercase;
}

section h2 {
  font-weight: normal;
  text-transform: uppercase;
}

/* individual sections */
#time-money {
  text-align: right;
  background: #3b9057;
  color: #fff;
}

#time-money h1 {
    font-size: 20vh;
}

#time-money span {
  color: #000;

}

#time-patience {
  text-align: left;
  background: #7f8c8d;
  color: #fff;
}

#time-patience h1 {
    font-size: 13vh;
}

#time-patience span {
  color: #000;

}

#time-brings {
  text-align: left;
  background: #fff;
  color: #000;
}

#time-brings h1 {
    font-size: 13vh;
}

#time-brings span {
  color: #333;

}


footer {
  background: #1c1e1e;
  height: 5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 5vh;
  text-align: right;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
}

footer a:last-child {
  margin: 0 10px;
}
