@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

header * {
  font-size: 18px;
}

section {
  height: 100vh;
}

section h1 {
  font-size: 15vh;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  right: 0;
}
